.auth_div {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(64%2c 5%2c 17%2c 1)'%3e%3c/rect%3e%3cpath d='M23 250L273 0L367.5 0L117.5 250z' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/path%3e%3cpath d='M277.6 250L527.6 0L646.1 0L396.1 250z' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/path%3e%3cpath d='M520.2 250L770.2 0L1067.2 0L817.2 250z' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/path%3e%3cpath d='M759.8000000000001 250L1009.8000000000001 0L1234.8000000000002 0L984.8000000000001 250z' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/path%3e%3cpath d='M1409 250L1159 0L961 0L1211 250z' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/path%3e%3cpath d='M1196.4 250L946.4000000000001 0L788.9000000000001 0L1038.9 250z' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/path%3e%3cpath d='M922.8 250L672.8 0L486.79999999999995 0L736.8 250z' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/path%3e%3cpath d='M684.1999999999999 250L434.19999999999993 0L195.69999999999993 0L445.69999999999993 250z' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/path%3e%3cpath d='M1231.7002104668643 250L1440 41.70021046686438L1440 250z' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/path%3e%3cpath d='M0 250L208.29978953313562 250L 0 41.70021046686438z' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1036'%3e%3cstop stop-color='rgba(226%2c 174%2c 68%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(226%2c 174%2c 68%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='rgba(226%2c 174%2c 68%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(226%2c 174%2c 68%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
}
.label {
  font-size: 12px;
}

.input_field {
  border: 1px solid #dfdfdf;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

.input_field:focus {
  outline: 2px solid #dfdfdf;
}
.auth_btn {
  background-color: #f3f3f3;
  border: 2px solid #dfdfdf;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
}
.post_btn {
  background-color: #6bbd8c;
  color: white;
  width: 100%;
  /* padding: 10px; */
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}
.auth_card {
  border-radius: 20px !important;
  border: none !important;
}
.auth_mssg {
  font-size: 12px;
  color: var(--primaryColor);
}
._link {
  text-decoration: none;
  color: var(--primaryColor);
}

.login_with {
  background-color: white;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.line {
  position: relative;
  top: -25px;
}
.auth_icon_group {
  /* display: flex;
  justify-content: center;
  gap: 20px; */
  color: var(--primaryColor);
}
.auth_icon_div {
  border: 2px solid rgb(223, 223, 223);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  color: black;
  transition: 200ms;
}
.auth_icon_div:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}
.card_title {
  font-weight: 900;
}
.feed_card {
  border-radius: 10px !important;
}
.btn_grp {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  /* justify-content: center; */
  color: grey;
}

.app_btn {
  border-radius: 5px;
  padding: 5px;
  color: black;
  border: none;
  background-color: #f3f3f3;
  padding: 5px 15px;
  /* font-size: 13px; */
}

.in_app_title {
  font-weight: 700;
  margin: 0;
}
.sub_title{
  font-size: 14px;
  color: grey;
}
.service_div {
  background-color: #f3f3f3;
  /* border: 1px solid#dfdfdf; */
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.auth_icon {
  width: 50px;
  /* text-align: center; */
}

/* ///////////////////////////////////// */

.navbar_ {
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
}

.p_p {
  width: 35px;
  /* float: right !important; */
  margin: 5px;
  border-radius: 50%;
}

/* ///////////////////////////////////////// */
.type_area {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #f3f3f3;
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.message_text_area {
  background-color: #dfdfdf;
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}
.message_text_area:focus {
  outline: none;
}
.mssg {
  display: flex;
  justify-content: flex-start;
  background-color: #9c9c9c;
  padding: 5px 15px;
  color: white;
  border-radius: 20px;
  margin: 5px;
}
.send_btn {
  font-size: 30px;
}
.post_at_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post_section {
  background-color: #f3f3f3;
  margin: 10px;
  border-radius: 5px;
}

.post_icon {
  font-size: 20px;
  /* margin-right: 5px; */
  color: grey;
}
.icon_spn {
  margin-right: 10px;
}
.right_col_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.switch_div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  /* height: 20px; */
  /* width: 100%; */
}
.post_mod_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second{
  background-color: white;
}
.travel_icon{
  background-color: #f3f3f3;
  border-radius: 50%;
  padding: 5px;
  font-size: 30px;
}
.map{
  width: 100%;
  height: 80vh ;
}
.holder{
  width: 70px;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.search_loc_div{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-color: #dfdfdf;
}
.notif_div{
  background-color: #dfdfdf;
  padding: 5px;
}
.distance_mod{
  height: auto !important;
  /* border-radius: 10px; */
}
.ppp{

  background-color: #dfdfdf;
  border-radius: 10px;
}
.profile_first_section{
  gap:15px;
  display: flex;
  align-items: center;
}
.profile_second_section{
  background-color: #f3f3f3;
  border-radius: 10px;
}
.profile_icon{
  background-color: #dfdfdf;
  border-radius: 50%;
  padding: 5px;
  font-size: 35px;
}
.in_app_title_2{
  font-weight: 600;
  margin: 0;
}